<head>
    <meta charset="UTF-8">
    <title>Dashboard with Flexmonster</title>
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.flexmonster.com/demo.css">
</head>
<body>
<div id="pivot-table-container" data-url="{% url 'pivot_data' %}"></div>
<div id="pivot-chart-container"></div>
<script>
    function processData(dataset) {
        var result = []
        dataset = JSON.parse(dataset);
        dataset.forEach(item => result.push(item.fields));
        return result;
    }

    $.ajax({
        url: $("#pivot-table-container").attr("data-url"),
        dataType: 'json',
        success: function (data) {
            new Flexmonster({
                container: "#pivot-table-container",
                componentFolder: "https://cdn.flexmonster.com/",
                width: "100%",
                height: 430,
                toolbar: true,
                report: {
                    dataSource: {
                        type: "json",
                        data: processData(data),
                        mapping: {
                            "price": {
                                "caption": "Total Cost",
                                "type": "number"
                            },
                            "status": {
                                "caption": "Order status",
                                "type": "string"
                            },
                            "geozone": {
                                "caption": "geozone id",
                                "type": "string"
                            },
                            "user": {
                                "caption": "user id",
                                "type": "string"
                            }
                        }
                    },
                    slice: {}
                }
            });
            new Flexmonster({
                container: "#pivot-chart-container",
                componentFolder: "https://cdn.flexmonster.com/",
                width: "100%",
                height: 430,
                //toolbar: true,
                report: {
                    dataSource: {
                        type: "json",
                        data: processData(data)
                    },
                    slice: {},
                    "options": {
                        "viewType": "charts",
                        "chart": {
                            "type": "pie"
                        }
                    }
                }
            });
        }
    });
</script>
</body>